<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Book</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="d-flex flex-column justify-content-center align-items-center w-100 " style="height:100vh;">
	<form th:action="@{/saveBook}" th:object="${libro}" method="post" class="w-25 shadow p-3 mb-5 bg-white rounded text-center">
		<h2>Ingresar Libro</h2>
		<label>Titulo</label>
		<input  type="text" th:field="*{s_titulo}" class="form-control">
		<span th:errors="*{s_titulo}" style="color : #E81505"></span>
		<br>
		<label>Autor</label>
		<input  type="text" th:field="*{s_autor}" class="form-control">
		<span th:errors="*{s_autor}" style="color : #E81505"></span>
		<br>	
		<label>ISBN</label>
		<input  type="text" th:field="*{s_isbn}" class="form-control">
		<span th:errors="*{s_isbn}" style="color : #E81505"></span>
		<br>
		<label>Categoria:</label>
		<select  th:field="*{categoria.c_categoria}" class="form-control">
	  			<option th:each="row : ${categories}" 
	  					th:value=${row.c_categoria} 
	  					th:text="${row.s_categoria}">
	  			</option>	
		</select>
		<br>
		<label>Estado</label>
		<input  type="checkbox" th:field="*{b_estado}" value="Activo" class="form-control">
		<br>
		
		<input type="submit" value="Guardar Libro" class="form-control btn btn-success mb-2">
	</form>	
</body>
</html>