<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="d-flex flex-column justify-content-center align-items-center w-100 " style="height:100vh;">
	<h1>Selecciona la Opcion que desees realizar</h1>
	<div class="w-100 d-flex justify-content-center w-25 shadow p-3 mb-5 bg-white rounded text-center">
		<a href="/category"><button class="btn btn-info form-control mr-2">Ingresar Categoria</button></a>
		<a><button class="btn btn-info form-control mr-2">Ingresar Libro</button></a>
		<a><button class="btn btn-warning form-control mr-2">Ver Libros</button></a>
	</div>
	<h2 th:text="${success}"></h2>
</body>
</html>